.container{
    width: 200px;
    height: 290px;
    background-color: thistle;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
input{
    width: 100px;
    padding: 6px;
    border: none;
}
button{
    cursor: pointer;
    padding: 6px;
    border: none;
}
.box{
    width: 170px;
    height: 80px;
    background-color: rgb(243, 246, 246);

}
button:active{
    background-color: grey;
    color: white;
}